<div class="bg-white bb b--light-gray pv1 ph15 ph3 ph0-l">
  <div class="mw645 center tc">
    <a class="dim link" href="/">
      <%= image_tag 'logo.svg', :class => "db center", :alt => 'Materiales Vallejo Logo' %>
    </a>
  </div>
</div>
